@import '../../../../../../node_modules/@wordpress/components/build-style/style.css';
@import '../../../../../scss/breakpoints-mixin.scss';

@keyframes dlx-pw-rotate {
	100% {
		transform: rotate(360deg);
	}
}


/* Make interface full-width/full-height */
#wpcontent {
	position: relative;
	padding-left: 0 !important;
	padding-right: 0 !important;
	position: relative;
	background-color: #FFFFFF;
	min-height: 100vh;
}

#wpbody-content {
	padding: 0;
	margin: 0;
}

#wpfooter {
	display: none;
}

/* hide notices (only on our screen) */
body .notice,
body .updated,
body div.updated.success,
body div.updated.error,
body div.updated.warning {
	display: none !important;
}

.fancybox__container {
	z-index: 100000;
}
.dlx-patterns-view-container {
	padding: 20px;

	.components-card {
		max-width: 100%;
	}
}

.dlx-patterns-view-container-wrapper {
	padding: 24px 48px;
	padding-top: 0;

	.dataviews-view-grid {
		padding-left: 0;
		padding-right: 0;
	}

	.dataviews-wrapper {
		overflow: visible;
	}

	.dataviews-view-grid .dataviews-view-grid__card {
		display: flex;
		background-color: #eaeaea;
		border-radius: 4px;
		overflow: hidden;
		box-shadow: 0 0 0 1px #eaeaea;
		border: 1px solid #eaeaea;
	}

	.components-button.is-pressed:hover:not(:disabled,[aria-disabled=true]), .components-button.is-pressed:not(:disabled,[aria-disabled=true]) {
		background-color: var(--wp-components-color-foreground, #1e1e1e);
		color: var(--wp-components-color-background, #fff);
	}
}

.dlx-patterns-view-quick-buttons-wrapper {
	display: flex;
	gap: 8px;
	justify-content: flex-end;
	padding-bottom: 16px;
}
.dlx-patterns-view-button-actions-wrapper {
	display: grid;
	grid-template-columns: 1fr;
	gap: 24px;
	row-gap: 12px;

	@include respond-to('medium') {
		grid-template-columns: auto auto 1fr;
	}

	.components-toggle-group-control {
		border: 1px solid #eaeaea;
		border-radius: 4px;
		background-color: #fff;
		box-shadow: 0 0 0 1px #eaeaea;
	}

	.components-base-control__field {
		margin-bottom: 0;
	}
}

.dlx-patterns-view-header {
	padding-left: 76px;

	h2 {
		font-size: 2.2em;
		margin-bottom: 0;
	}
}

// Pattern badge styles.
.pattern-badge {
	display: inline-block;
	padding: 4px 8px;
	border-radius: 4px;
	font-size: 11px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	line-height: 1;
	white-space: nowrap;
	border: 1px solid transparent;
}
.pattern-badge-wrapper {
	display: flex;
	justify-content: flex-end;
	padding: 0 0 12px 0;
	gap: 8px;
}

.pattern-badge-local {
	background-color: #e7f5ff;
	color: #0066cc;
	border-color: #b3d9ff;
}

.pattern-badge-registered {
	background-color: #f0f8ff;
	color: #0066cc;
	border-color: #cce5ff;
}

.pattern-badge-synced {
	background-color: rgb(122, 0, 223);
	color: #FFFFFF;
	border-color: #ccffcc;
}
.pattern-badge-disabled {
	background-color: #f8e7e7;
	color: #660000;
	border-color: #ffd9d9;
}
.pattern-badge-enabled {
	background-color: #e7f5ff;
	color: #0066cc;
	border-color: #b3d9ff;
}

.pattern-badge-unsynced {
	background-color: #fff8e7;
	color: #cc6600;
	border-color: #ffd9b3;
}


/**
 * Snackbar styles.
 */
 .dlx-pw-snackbar.components-snackbar {
	position: fixed;
	top: 32px;
	right: 0;
	z-index: 10000;
	background: #0D3172;
	color: #FFF;

	.components-snackbar__content {
		display: flex;
		align-items: center;
	}
	.components-snackbar__icon {
		position: absolute;
		top: 24px;
		left: 28px;
		left: 14px;
		top: auto;
		bottom: auto;
		line-height: 0;
	}
	.components-snackbar__content-with-icon {
		padding-left: 50px;
	}

	&.dlx-pw-snackbar-loading {
		svg {
			animation: dlx-pw-rotate;
			animation-duration: 1.2s;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
		}
	}
	&.dlx-pw-snackbar-success {
		background: #14720D;
		color: #FFF;
	}
	&.dlx-pw-snackbar-error,
	&.dlx-pw-snackbar-critical {
		background: #820000;
		color: #FFF;
	}
	&.dlx-pw-snackbar-warning {
		background: #FFC107;
		color: #000;
	}
 }
 .dlx-pw-modal-admin-row {
	margin-bottom: 16px;
 }

 .dlx-pw-modal-admin-row-buttons {
	display: flex;
	gap: 8px;
	justify-content: flex-start;
	flex-direction: row-reverse;
	align-items: center;
	padding-top: 16px;
 }
 .components-toggle-group-control {
	border: 1px solid #ccc;
 }

 /* Lucide React Icons Styles */
svg.lucide {
	color: inherit;
	fill: none !important;
	
	path,
	circle,
	rect,
	line {
		fill: unset !important;
		color: currentColor !important;
	}
}
.pattern-title-categories {
	width: 100%;
}
.dlx-patterns-view-categories-list {
	display: grid;
	grid-template-columns: 1fr;
	gap: 16px;
	@include respond-to('medium') {
		grid-template-columns: 1fr 1fr;
	}
}
.dlx-patterns-view-category-card {
	background: #FAFAFA;
	color: #333333;
	border: 1px solid #bbbbbb;
	position: relative;
	padding: 40px 16px;
	font-size: 16px;

	&.is-disabled {
		background: #FFFFFF;
		color: #959595;
	}

	&.is-selected {
		border-color: #0066cc;
	}

	&__header {
		position: absolute;
		top: 16px;
		right: 12px;
		display: flex;
		gap: 8px;
		align-items: center;
		justify-content: flex-end;
		z-index: 1;
	}

	&__enabled-status {
		display: flex;
		align-items: center;
		gap: 4px;
		background-color: #be2121;
		color: #FFFFFF;
		padding: 4px 8px;
		border-radius: 4px;
		font-size: 12px;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 0.5px;
		line-height: 1;
		white-space: nowrap;
	}
	&__enabled-status-icon {
		width: 12px;
		height: 12px;
		color: #be2121;
	}

	&__type {
		display: inline-block;
		padding: 4px 8px;
		border-radius: 4px;
		font-size: 12px;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 0.5px;
		line-height: 1;
		white-space: nowrap;
		border: 1px solid transparent;
	}
	
	&.is-local {
		.dlx-patterns-view-category-card__type {
			background-color: #696969;
			color: #FFFFFF;
		}
	}
	&.is-registered {
		.dlx-patterns-view-category-card__type {
			background-color: #f0f8ff;
			color: #0066cc;
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	&__label {
		font-size: 1.4em;
	}
	&__slug {
		font-size: 0.9em;
		color: #777777;
		font-style: italic;
	}
	&__actions {
		position: absolute;
		bottom: 16px;
		right: 12px;
		display: flex;
		gap: 8px;
		justify-content: flex-end;
		align-items: center;
		margin-top: 16px;
	}
	&__checkbox {
		position: absolute;
		top: 16px;
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
		z-index: 1;
		pointer-events: none;
	}
	&.is-selected &__checkbox {
		opacity: 1;
		pointer-events: auto;
	}
	&:hover &__checkbox,
	&:focus-within &__checkbox {
		opacity: 1;
		pointer-events: auto;
	}

	.invisible-until-hover {
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
	}
	&:hover .invisible-until-hover,
	&:focus-within .invisible-until-hover {
		opacity: 1;
	}
}
.dlx-pw-modal-admin-row {
	.is-required label {
		position: relative;
	}
	.is-required label:after {
		position: absolute;
		display: inline-block;
		vertical-align: middle;
		content: '*';
		top: -3px;
		color: #b53b07;
		font-size: 1.4em;
		line-height: 1.3;
		margin-left: 8px;
	}
}

.dlx-bulk-action-toolbar-top .dataviews-bulk-actions-footer__container {
	padding: 24px 0;
	justify-content: flex-start;
}
.dlx-bulk-action-toolbar-top .components-checkbox-control__label {
	color: #1e1e1e;
    font-weight: 500;
    font-size: 11px;
    text-transform: uppercase;
}
.dlx-bulk-action-toolbar-top .components-flex {
	gap: 12px;
}