@import '../../../../../../node_modules/@wordpress/dataviews/build-style/style.css';
@import '../../../../../../node_modules/@wordpress/components/build-style/style.css';

.dlx-patterns-view-container {
	padding: 20px;

	.components-card {
		max-width: 100%;
	}
}