@import '../../../../../../node_modules/@wordpress/dataviews/build-style/style.css';
@import '../../../../../../node_modules/@wordpress/components/build-style/style.css';

.dlx-patterns-view-container {
	padding: 20px;

	.components-card {
		max-width: 100%;
	}
}

.pattern-preview-wrapper {
	width: 100%;
	height: 100%;

	iframe {
		width: 100%;
		height: 100% !important;
		overflow: hidden;

		body {
			width: 100%;
			height: 100%;
			overflow: hidden;
		}
	}
}

.components-grid.dataviews-view-grid {
	grid-template-columns: repeat(2, 1fr) !important;
	gap: 24px;
}