@import '../../../../../../node_modules/@wordpress/dataviews/build-style/style.css';
@import '../../../../../../node_modules/@wordpress/components/build-style/style.css';

.dlx-patterns-view-container {
	padding: 20px;

	.components-card {
		max-width: 100%;
	}
}

.pattern-preview-iframe-wrapper {
	width: 100%;
	height: 100%;
}

.pattern-preview-wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #FFF;

	iframe {
		position: absolute;
		overflow: hidden;
		pointer-events: none;
		height: 100%;
		max-height: 2000px;
	}
}

.pattern-preview-iframe-scale-container {
	left: 0;
    margin: 0;
    min-height: auto;
    overflow: visible;
    text-align: initial;
    top: 0;
    transform-origin: top left;
    width: 100%;
}

.dataviews-view-list .page-patterns-preview-field {
	width: 96px;
}

.dataviews-view-grid .dataviews-view-grid__media {
	aspect-ratio: 16 / 9 !important;
}

/* Hide the preview toggle slider */
.dataviews-settings-section__content.components-grid .components-range-control {
	display: none;
}