@import '../../../../../../node_modules/@wordpress/dataviews/build-style/style.css';
@import '../../../../../../node_modules/@wordpress/components/build-style/style.css';

.fancybox__container {
	z-index: 100000;
}
.dlx-patterns-view-container {
	padding: 20px;

	.components-card {
		max-width: 100%;
	}
}

.pattern-preview-iframe-wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.pattern-preview-wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #FFF;

	iframe {
		position: absolute;
		overflow: hidden;
		pointer-events: none;
		height: 100%;
		max-height: 2000px;
	}
}

.pattern-preview-iframe-scale-container {
	left: 0;
    margin: 0;
    min-height: auto;
    overflow: visible;
    text-align: initial;
    top: 0;
    transform-origin: top left;
    width: 100%;
}

.dataviews-view-list .page-patterns-preview-field {
	width: 96px;
}

.dataviews-view-grid .dataviews-view-grid__media {
	aspect-ratio: 16 / 9 !important;
}

/* Hide the preview toggle slider */
.dataviews-settings-section__content.components-grid .components-range-control {
	display: none;
}
.dataviews-view-grid .dataviews-view-grid__card {
	overflow: hidden;
}
.dataviews-view-grid .dataviews-view-grid__card {
	width: 100%;
	max-width: 300px;
}
.dataviews-view-grid.dataviews-view-grid {
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	column-gap: 32px;
	gap: 32px;
}

.pattern-preview-iframe-wrapper iframe {
	max-width: 1200px;
}

.dlx-patterns-view-container .dataviews-title-field span {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.dlx-patterns-view-container .dataviews-view-grid .dataviews-view-grid__card .dataviews-view-grid__title-field {
	display: flex;
}

.dlx-patterns-view-container .dataviews-view-grid .dataviews-view-grid__media {
	max-width: 300px;
	min-height: 225px;
}

.fancybox__iframe {
	width: 100% !important;
}
.has-iframe .fancybox__content {
	overflow: scroll;
}