@import 'admin-common.scss';

.dlx-pw-versions-grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 16px;
}

.dlx-pw-version-item {
	display: flex;
	flex-direction: column;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	padding: 16px;
	gap: 8px;
}

.dlx-pw-version-item-header {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	gap: 8px;
	margin: 0;
	padding: 0;
}

.dlx-pw-version-item-date {
	font-size: 12px;
	color: #666;
}

.dlx-pw-version-item-media {
	position: relative;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	padding: 4px;
	overflow: hidden;
	max-height: 175px;
	aspect-ratio: 1 / 1;
}

.dlx-pw-version-item-popover-content .components-dropdown-menu__menu {
	min-width: 75px;
}

.dlx-pw-version-item-preview-button {
	position: absolute;
	top: 0;
	right: 0;
	width: 100% !important;
	height: 100% !important;
	z-index: 100 !important;
}